<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name ="dhoni" value="msd"></parameter>
<parameter name ="rohit" value="hittu"></parameter>
  <test name="Test">
    <classes>
      <class name="org.demo.TestCase1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
